@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700&display=swap');

*{
    text-decoration: none;
}

body{
    background-color: #22212C;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.aside{
    margin: 40px 20px 20px 40px;
}

.perfil{
    width: 348px;
    height: 292px;
    
    border-radius: 20px;
    background-color: #302F3D;

    box-shadow: 2px 2px 2px 1px #00000033;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;
}

.perfil img{
    width: 128px;
    height: 128px;

    border: #00FF00 solid 2px;
    border-radius: 50%;
}

.nome{
    margin: 30px 0 10px 0;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    width: 196px;
}

.profissao{
    font-size: 13px;
    font-weight: 300;
}

.links{
    width: 348px;
    height: 348px;
    
    border-radius: 20px;
    background-color: #302F3D;

    box-shadow: 2px 2px 2px 1px #00000033;

    display: flex;
    flex-direction: column;

    margin-top: 30px;
    padding: 10px 0;
    box-sizing: border-box;

    justify-content: center;

    font-size: 12px;
    font-weight: 400;

    font-family: 'Merriweather Sans', sans-serif;
}

.links li{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.socialmedia{
    margin-right: 20px;
    margin-left: 40px;    
}


.links a{
    color: #837E9F;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulos{
    font-size: 20px;
    font-weight: 700;
    justify-content: flex-start;
    margin: 30px 0 20px 20px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;
}


.tecnologias{
    width: 348px;
    height: 208px;
    
    border-radius: 20px;
    background-color: #302F3D;

    box-shadow: 2px 2px 2px 1px #00000033;

    display: flex;
    flex-direction: column;

    margin-top: 30px;
    
    box-sizing: border-box;


    font-size: 10px;
    font-weight: 700;

    font-family: 'Merriweather Sans', sans-serif;
    color: #000000;
}

.tecnologiasGrupo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tecnologiasGrupo li{
    background-color: #CB92B1;
    border-radius: 30px;
    width: 86px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 15px 15px 0;    
}

.experiencia{
    width: 348px;
    height: 349px;
    
    border-radius: 20px;
    background-color: #302F3D;

    box-shadow: 2px 2px 2px 1px #00000033;

    display: flex;
    flex-direction: column;

    margin-top: 30px;
    
    box-sizing: border-box;


    font-size: 10px;
    font-weight: 700;

    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;
}

.experienciaList {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.experienciaItem {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    margin: 10px 0    
}

.local{
    font-size: 14px;
    font-weight: 700;

    font-family: 'Merriweather Sans', sans-serif;
}

.data{
    font-size: 12px;
    font-weight: 300;

    font-family: 'Merriweather Sans', sans-serif;
}

.nomes{
    font-size: 12px;
    font-weight: 400;

    font-family: 'Merriweather Sans', sans-serif;
}

.educacao{
    width: 348px;
    height: 352px;
    
    border-radius: 20px;
    background-color: #302F3D;

    box-shadow: 2px 2px 2px 1px #00000033;

    display: flex;
    flex-direction: column;

    margin-top: 30px;
    
    box-sizing: border-box;


    font-size: 10px;
    font-weight: 700;

    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;
}

.educacaoList {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.educacaoItem {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    margin: 10px 0    
}

.main{
    width: 952px;
    margin: 40px 40px 0 40px
}

.myProject{
    display: flex;
    flex-direction: row;

    width: 952px;
    height: 86px;

    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 31px;
    text-align: center;

    border-radius: 20px;
    background-color: #302F3D;

    box-shadow: 2px 2px 2px 1px #00000033;
    box-sizing: border-box;

    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;
}

.titulo{
    font-size: 20px;
    font-weight: 700;
}

.myProject span{
    font-size: 14px;
    font-weight: 400;
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 952px;
    height: 186px;
}

.project1{
    width: 461px;
    height: 186px;

    border-radius: 20px;
    background-color: #302F3D;

    box-shadow: 2px 2px 2px 1px #00000033;
    box-sizing: border-box;
    padding: 30px;

    display: flex;
    flex-direction: column;

    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;    
}

.assets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 401px;
    height: 20px;

    justify-content: space-between;
}

.project1 a{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 20px;

    color: #837E9F;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.project1 img{
    margin-right: 16px;
    width: 20px;
    height: 20px;
}

.project1 p{
    color: #837E9F;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.gitsimbolos{
    width: 128px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gitsimbolos span{
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gitsimbolos img{
    width: 20px;
    height: 20px;

    margin-right: 8px;
}

.language{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 14px;
    font-weight: 400;
}

.recentPosts{
    display: flex;
    flex-direction: row;

    width: 952px;
    height: 86px;

    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
    text-align: center;

    border-radius: 20px;
    background-color: #302F3D;

    box-shadow: 2px 2px 2px 1px #00000033;
    box-sizing: border-box;

    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;
}

.post{
    display: flex;
    flex-direction: row;

    width: 952px;
    height: 201px;

    align-items: center;
    padding: 30px 30px 42px 30px;
    margin-top: 30px;

    border-radius: 20px;
    background-color: #302F3D;

    box-shadow: 2px 2px 2px 1px #00000033;
    box-sizing: border-box;

    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;
}

.post img{
    width: 128px;
    height: 128px;

    border-radius: 50%;
}

.textoPost{
    margin-left: 20px;
    display: flex;
    flex-direction: column;

}

.textoPost a{
    margin-bottom: 8px;

    color: #837E9F;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.textoPost .dataPost{
    font-size: 14px;
    font-weight: 400;

    margin-bottom: 28px;
}

.descricaoPost{
    font-size: 16px;
    font-weight: 400;

    margin-bottom: 11px;
}

.hashtags{
    font-size: 14px;
    font-weight: 400;

    width: 446px;

    display: flex;
    flex-direction: row;
}

.hashtags span{
    margin-right: 25px;
}